{% ckan_extends %}

{%- block title -%}
    {{ self.subtitle() }}
    {{ ui.subtitle_item("Gouvernement ouvert - Gouvernement du Yukon" if h.lang() == "fr" else g.site_title, initial=true) }}
{%- endblock -%}

{% block head_extras %}
    {{ super() }}
    <script>
        var _paq = window._paq = window._paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="{{ h.yukon_matomo_url() }}";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', "{{ h.yukon_matomo_siteid() }}"]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
{% endblock %}


{%- block styles -%}
    {{ super() }}
    {%- asset "theming/yukon/styles" -%}
{%- endblock %}

{%- block scripts -%}
    {{ super() }}
    {%- asset "theming/yukon/scripts" -%}
{%- endblock %}
