{% set lang_prefix = '/fr' if request.environ.CKAN_LANG == 'fr' and not request.path.startswith('/fr') else '' %}
{%- set french = lang_prefix=="/fr" -%}

<div id="acknowledgment-statement" class="mt-4">
    <div class="statement container">{{ _("The Government of Yukon acknowledges that Indigenous Peoples have traditional territories throughout the Yukon and celebrates their role as stewards of the lands and waters and their ongoing connection to this place.") }}</div>
</div>


{%- call ui.util.call(ui.footer) -%}
    {%- call ui.util.call(ui.footer_main) -%}
        <a href="{{ h.url_for('home.index') }}" >
            <img src="/images/logo-white.svg" alt="Yukon" style="width: 107px;" />
        </a>
    {%- endcall %}

    {%- call ui.util.call(ui.footer_secondary, french=lang_prefix=="/fr") -%}
        {%- call ui.util.call(ui.footer_secondary_nav, attrs={"aria-label": _("Footer menu")}) -%}
            {{ ui.footer_secondary_nav_item(_("Home"), href="https://yukon.ca" ~ ("/fr" if french else "")) }}
            {{ ui.footer_secondary_nav_item(_("Documents"), href="https://yukon.ca" ~ ("/fr" if french else "") ~ "/documents") }}
            {{ ui.footer_secondary_nav_item(_("Events"), href="https://yukon.ca/fr/arts-et-culture/activites" if french else "https://yukon.ca/en/arts-and-culture/events") }}
            {{ ui.footer_secondary_nav_item(_("Forms"), href="https://yukon.ca/fr/formulaires" if french else "https://yukon.ca/forms") }}
            {{ ui.footer_secondary_nav_item(_("News"), href="https://yukon.ca/fr/communiques-de-presse" if french else "https://yukon.ca/en/news") }}
            {{ ui.footer_secondary_nav_item(_("Legislation"), href="https://yukon.ca/fr/textes-legislatifs" if french else "https://yukon.ca/en/your-government/legislation/find-government-legislation") }}
            {{ ui.footer_secondary_nav_item(_("Places"), href="https://yukon.ca/fr/etablissements-installations-et-bureaux" if french else "https://yukon.ca/en/places") }}
        {%- endcall %}

        {%- call ui.util.call(ui.footer_secondary_nav, attrs={"aria-label": _("Secondary Footer Menu")}) -%}
            {{ ui.footer_secondary_nav_item(_("Contact us"), href="https://yukon.ca/fr/votre-gouvernement/joindre-ou-suivre-le-gouvernement/contacter-le-gouvernement" if french else "https://yukon.ca/en/your-government/contact-and-follow-government/contact-government") }}
            {{ ui.footer_secondary_nav_item(_("Copyright"), href="https://yukon.ca/fr/droit-dauteur" if french else "https://yukon.ca/en/copyright") }}
            {{ ui.footer_secondary_nav_item(_("Disclaimer"), href="https://yukon.ca/fr/avertissement" if french else "https://yukon.ca/en/disclaimer") }}
            {{ ui.footer_secondary_nav_item(_("Privacy statement"), href="https://yukon.ca/fr/avis-de-confidentialite" if french else "https://yukon.ca/en/privacy-statement") }}
        {%- endcall %}

    {%- endcall %}
{%- endcall %}
