{% ckan_extends %}

{% block maintag %}
    {{ super() }}
    {% if current_user.is_anonymous %}
        <div class="aurora-town">
            <span class="aurora--main"></span>
        </div>
    {% endif %}
{% endblock %}

{% block main_content %}

    {{ self.flash() }}
    {{ self.toolbar() }}

    <div class="m-0  {{ self.wrapper_class() }}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
        {{ self.pre_primary() }}
        <div class="d-flex flex-column flex-lg-row gap-5">
            {% block secondary %}
                <aside class="secondary  position-sticky top-0 w-md-25">
                    {{ self.secondary_content() }}
                </aside>
            {% endblock %}

            {% block primary %}
                <div class="primary w-100" role="main">
                    {% block primary_content %}
                        <article>
                            {% block page_header %}
                                <header class="d-lg-flex gap-4 flex-row-reverse mb-3 ">
                                    {% if self.content_action() | trim %}
                                        <div class="content_action ms-auto d-flex gap-2 align-items-center">
                                            {{ self.content_action() }}
                                        </div>
                                    {% endif %}
                                    <ul class="nav nav-tabs w-100 my-3 my-lg-0">
                                        {{ self.content_primary_nav() }}
                                    </ul>
                                </header>
                            {% endblock %}
                            <div>
                                {% if self.page_primary_action() | trim %}
                                    <div class="page_primary_action">
                                        {{ self.page_primary_action() }}
                                    </div>
                                {% endif %}
                                {{ self.primary_content_inner() }}
                            </div>
                        </article>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
