{%- macro account(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "account-masthead"}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro header(content, title, subtitle, logo, href=h.url_for('home.index')) -%}
    <header {{ ui.util.attrs(kwargs, {"class": "masthead"}) }}>
        {%- call ui.util.call(ui.container) -%}
            {% if g.debug and not g.debug_supress_header %}
                <div class="debug">Blueprint : {{ g.blueprint }}<br />View : {{ g.view }}</div>
            {% endif %}

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="{{ g.header_class }} navbar-left col-md-2">
                    {% if logo -%}
                        {{ ui.link(ui.image(h.url_for_static_or_external(logo), alt=title, aria={"label": _('Navigate to Home - {site_title}').format(site_title=title)}), href=href, attrs={"class": "logo"}) }}

                    {%- else -%}
                        <h1>
                            {{ ui.link(title, href=href) }}
                        </h1>
                    {%- endif %}
                    {%- if subtitle -%}
                        <h2>{{ subtitle }}</h2>
                    {%- endif %}
                </div>
                {{ ui.button(ui.icon("bars"), attrs={"class": "navbar-toggler"}, data={"bs-toggle": "collapse", "bs-target": "#main-navigation-toggle"}, aria={"controls": "main-navigation-toggle",  "expanded": "false", "label": _('Toggle navigation')}) }}

                <div class="main-navbar collapse navbar-collapse col-md-10" id="main-navigation-toggle">
                    {{ content }}
                </div>
            </nav>
        {%- endcall %}
    </header>
{%- endmacro %}

{%- macro footer(content) -%}
    <footer {{ ui.util.attrs(kwargs, {"class": "site-footer"}) }}>{{ content }}</footer>
{%- endmacro %}

{%- macro footer_main(content) -%}
    {%- do kwargs -%}{{ content }}
{%- endmacro %}

{%- macro footer_secondary(content) -%}
    {%- do kwargs -%}
{%- endmacro %}
