
{%- macro accordion_wrapper(content, id) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "accordion"}) }} {% if id -%}id="{{ id }}"{%- endif %}>{{ content }}</div>
{%- endmacro %}

{%- macro account_nav(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "list-unstyled"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro breadcrumb_wrapper(content) -%}
    <ol {{ ui.util.attrs(kwargs, {"class": "breadcrumb"}) }}>
        {{ content }}
    </ol>
{%- endmacro %}

{%- macro content_action_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "content_action"}) }}>
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro content_nav(content) -%}
    {{ ui.nav(content, **ui.util.augment_attrs(kwargs, {"class": "nav nav-tabs"})) }}
{%- endmacro %}

{%- macro footer_main_nav(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "list-unstyled"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro footer_secondary_nav(content) -%}
    {{ ui.nav(content, **ui.util.augment_attrs(kwargs, {"class": "nav nav-tabs"})) }}
{%- endmacro %}

{%- macro main_nav(content) -%}
    {{ ui.nav(content, **ui.util.augment_attrs(kwargs, {"class": "navbar-nav ms-auto mb-2 mb-lg-0"})) }}
{%- endmacro %}

{%- macro nav(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "nav"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}

{%- macro page_action_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "page_primary_action"}) }}>
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro tab_wrapper(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "nav nav-tabs"}) }} role="tablist">{{ content }}</ul>
{%- endmacro %}

{%- macro sidebar_nav(content, title) -%}
    <section {{ ui.util.attrs(kwargs, {"class": "module module-narrow module-shallow"}) }}>
        <div class="module-group">
            {{ ui.heading(title, level=2, attrs={"class": "module-heading"}) if title }}

            <ul class="nav nav-aside">
                {{ content }}
            </ul>
        </div>
    </section>
{%- endmacro %}

{%- macro pagination_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "pagination-wrapper"}) }}>
        <ul class="pagination justify-content-center">
            {{- content -}}
        </ul>
    </div>
{%- endmacro %}


{%- macro tab_pane_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="tab-content">
        {{ content }}
    </div>
{%- endmacro %}
