@use "sass:map";
@use "mixins" as m;
@use "variables" as v;

html {
    font-size: var(--yukon-mobile-font-size);

    @include m.breakpoint(md) {
        font-size: var(--yukon-desktop-font-size);
    }
}

body {
    font-family: var(--yukon-font-main);
}

:focus,
:focus-visible {
    outline: var(--yukon-color-outline) auto 1px;
}
